*{
  box-sizing: border-box;
}

.hero{
  position: relative;
  height: 200px;
}

.hero::before{
  content:"";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: url('/img/copper.jpg') no-repeat;
  background-size: cover;
  opacity: 0.50;
}

.hero hgroup {
  position: relative;
}

.logo{
  display: flex;
}

.logo_title{
  font-size: 2rem;
  font-weight: bold;
  color: #5D4221;
}