<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/main.js" defer></script>
  <title>CopperFox Copy</title>
</head>
<body>
  <header class="admin-header">
    <hgroup>
      <div class="logo">Copper Fox - Admin</div>
      <img class="menu" src="/img/menu_burger.svg" alt="menu_burger">
    </hgroup>
  </header>
  <aside class="container admin-nav hidden">
    <nav>
      <ul>
        <li><a href="#" role="button">Profil</a></li>
        <li><a href="#" role="button" class="secondary">Se déconnecter</a></li>
        <li><a href="#" role="button">Ajouter un métal</a></li>
        <li><a href="#" role="button">Editer un métal</a></li>
        <li><a href="#" role="button" class="secondary">Supprimer un métal</a></li>
        <li><a href="#" role="button">Ajouter un item</a></li>
        <li><a href="#" role="button">Editer un item</a></li>
        <li><a href="#" role="button" class="secondary">Supprimer un item</a></li>
      </ul>
    </nav>
  </aside>

