<%- include('./partials/headerAdmin') %>

<main class="container">
  <h1>Page admin - Vous vous êtes authentifié</h1>
  <a href="/admin/signout">Se déconnecter</a>
</main>

<%- include('./partials/footer') %>